<% page_title('All Forums') %>



<!--

<div class="fullwidthcontainer">
  <div class="container">
        <p>&nbsp;</p>
        <h2><span class="left">Forums</span>
        
        <span class="right"><ul class="pagination pagination-sm">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
  </span></h2>      <p>&nbsp;</p>
        

  </div>
</div>

-->
  <h1> Forum List </h1>
</div>




<a href='#'>
  <div class="postdivider">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
        <h4>name of forum</h4>
        </div>
  
        <div class="col-xs-3">
        <h4>topics</h4>
        </div>
        
        <div class="col-xs-3">
        <h4>replies</h4>
        </div>
      
        <div class="col-xs-3">
        <h4>last reply</h4>
        </div>
      </div>
    </div>
  </div>
</a>



<% @forums.each do |forum| %>


  <%= link_to forum_path(forum) do %>
    <div class="listdivider">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
          
           <%= link_to forum.name, forum_path(forum) %> <br>
           <%= forum.description %>
          
          </p>
          </div>
    
          <div class="col-xs-3">
          <p> <%= forum.discourses.count %> </p>
          </div>
          
          <div class="col-xs-3">
          <p> <%= forum.replies.count %> </p>
          </div>
        
          <div class="col-xs-3">
          <p>
              <% if forum.last_discourse %>
    
                <dfn>Last Discussion</dfn> by <%= link_to forum.last_discourse.user.user_name, user_path(forum.last_discourse.user)  %> <%= link_to forum_discussion_path(forum, forum.last_discourse) do %> <span class = 'fa fa-location-arrow'></span> <% end %> <br>

                <% last_discourse_time = forum.last_discourse.created_at %>
                <%= last_discourse_time.strftime(' %d %B %Y ') %> ( <%= time_ago_in_words( last_discourse_time ) %> ago ) 
              <% else %>

                No discussions in this forum. <%= link_to 'Be the first to start a discussion...', forum_path(forum) %>
              <% end %>

          </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<br>
