<% page_title(@forum.name + ' forum') %>



<div class="row">
		<div class="col-md-12">
		<p>&nbsp;</p>
		</div>
			<div class="col-md-4">
			<h2> <%= @forum.name %> forum</h2>
			<h4> <%= @forum.description %> </h4>
			</div>
			
			<div class="col-md-4">
		<p>&nbsp;</p>

			<p><%= will_paginate @discussions %>
			</p></div>
			
			<!--
			<div class="col-md-4">
<ul class="pagination pagination-sm">
  <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul>
</div>
-->				</div>


</div>



<div class="postdivider">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-7">
				<h4>TOPICS</h4>
				</div>
	
				<div class="col-xs-3 col-sm-1">
				<h4>REPLIES</h4>
				</div>
				
				<div class="col-xs-3 col-sm-1">
				<h4>VIEWS</h4>
				</div>
			
				<div class="col-xs-3 col-sm-3">
				<h4>LAST REPLY</h4>
				</div>
			</div>
		</div>
	</div>

</div>



<% @discussions.each do |discussion| %>


	<!-- START -->

	<div class="listdivider" onclick=" location.href='<%= forum_discussion_path(@forum, discussion) %>'" style="cursor: pointer">
			<div class="container">
				<div class="row">
					<div class="col-xs-3 col-sm-7">
					<p> <%= discussion.name %> <br>
					
					By <%= link_to discussion.author_name, root_path %> &#187; <%= discussion.created_at.strftime('%a, %b %d, %Y %I:%M %P ')  %></p>
					</div>
		
					<div class="col-xs-3 col-sm-1">
					<p> <%= discussion.replies.count %> </p>
					</div>
					
					<div class="col-xs-3 col-sm-1">
					<p> <%= discussion.views %> </p>
					</div>
				
					<div class="col-xs-3 col-sm-3">
					
						<% if discussion.last_reply %>
							<dfn>Last reply </dfn>by 

							<%#= link_to discussion.last_reply.user.user_name, discussion.last_reply.user %>

							<br>

							<%= discussion.last_reply.created_at.strftime('%a, %b %d, %Y %I:%M %P ') %>
						<% else %>

							No replies yet, why not be the first?
						<% end %>



					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END -->

<% end %>




<div class = 'container'>

	<br>
	
	<h4> Create a New Discussion </h4>
	
	<br>
	


	<%# @discussion = Discourse.new %>

	<%= form_for [@forum, @discussion] do |f| %>

		<%= f.text_field :name, class: 'form-control', placeholder: 'Create a new title here...' %><br>
		<%= f.text_area :description, class: 'form-control', placeholder: 'Expand on your title here...', rows: 5 %><br>
		
		<%= f.submit 'Create Discussion', class: 'form-control btn btn-primary' %>

	<% end %>

	<br>
</div>


<%#= link_to 'Back', forums_path %>
