<% page_title(@forum.name + ' forum') %>



<div class="row">
		<div class="col-md-12">
		<p>&nbsp;</p>
		</div>
			<div class="col-md-4">
			<h2> <%= @forum.name %> forum</h2>
			<h4> <%= @forum.description %> </h4>
			</div>
			
			<div class="col-md-4">
		<p>&nbsp;</p>
			<p>15364 topics • Page 1 of 35 
			</p></div>
			
			<div class="col-md-4">
<ul class="pagination pagination-sm">
  <li><a href="#">«</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">»</a></li>
</ul>
</div>
				</div>


</div>



<div class="postdivider">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-7">
				<h4>TOPICS</h4>
				</div>
	
				<div class="col-xs-3 col-sm-1">
				<h4>REPLIES</h4>
				</div>
				
				<div class="col-xs-3 col-sm-1">
				<h4>VIEWS</h4>
				</div>
			
				<div class="col-xs-3 col-sm-3">
				<h4>LAST REPLY</h4>
				</div>
			</div>
		</div>
	</div>

</div>



<% @forum.discourses.each do |discourse| %>


	<!-- START -->

	<div class="listdivider" onclick=" location.href='<%= forum_discourse_path(@forum, discourse) %>'" style="cursor: pointer">
			<div class="container">
				<div class="row">
					<div class="col-xs-3 col-sm-7">
					<p> <%= discourse.title %> <br>
					By <%= link_to discourse.user.user_name, user_path(discourse.user) %> &#187; <%= discourse.created_at.strftime('%a, %b %d, %Y %I:%M %P ')  %></p>
					</div>
		
					<div class="col-xs-3 col-sm-1">
					<p> <%= discourse.replies.count %> </p>
					</div>
					
					<div class="col-xs-3 col-sm-1">
					<p> <%= discourse.impression_count %> </p>
					</div>
				
					<div class="col-xs-3 col-sm-3">
					
						<% if discourse.last_reply %>
							<dfn>Last reply </dfn>by 

							<%= link_to discourse.last_reply.user.user_name %>

							<br>

							<%= discourse.last_reply.created_at.strftime('%a, %b %d, %Y %I:%M %P ') %>
						<% else %>

							No posts yet, why not be the first?
						<% end %>



					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END -->

<% end %>




<div class = 'container'>

	<br>
	
	<h4> Create a New Discussion </h4>
	
	<br>
	
	<% @discourse = Discourse.new %>

	<%= form_for [@forum, @discourse] do |f| %>

		<%= f.text_field :title, class: 'form-control', placeholder: 'Create a new title here...' %><br>
		<%= f.text_area :body, class: 'form-control', placeholder: 'Expand on your title here...', rows: 5 %><br>
		
		<%= f.submit 'Create Discussion', class: 'form-control btn btn-primary' %>

	<% end %>

	<br>
</div>


<%#= link_to 'Back', forums_path %>
