<%= form_for( [@forum, @discourse] ) do |f| %>
 

  <% if @discourse.errors.any? %>
    <div id="error_explanation">
      hiya

      <h2><%= pluralize(@discourse.errors.count, "error") %> prohibited this discourse from being saved:</h2>

      <ul>
      <% @discourse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">



    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  

    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
