<%= render partial: 'sidebar' %> 


<div class="col-sm-10">
<%= will_paginate @users %>

				<h2>Users</h2>
<div class="table-responsive">						
<table class="table">
	<thead>		
			<tr>
				<td> User Name</td>
				<td> Applied </td>
				<td> Accepted </td>
				<td> Roles </td>
				<td> Posts </td>
				<td> Discussions Started </td>
				<td> Email </td>
				<td> Public Email </td>
				<td> Landline </td>
				<td> Mobile </td>
				<td> Address </td>
				<td> Postcode </td>

			</tr>
	</thead>
	

	<tbody>
		<% @users.each do |user| %>
			<tr class = <%= if user.is_admin? 
			  	"success"
				  elsif user.is_coordinator? || user.is_midweek? || user.is_rider? && !user.is_admin?	  	
				  elsif user.is_only_potential?
				  	"danger"
				  end
			%>>
					<td> <%= link_to user.user_name, user_path(user) %> </td>
					<td> <%= user.created_at.strftime('%a, %b %d, %Y %I:%M%P') %> </td>
					<td> <% if user.accepted_at %>
							<%= user.accepted_at.strftime('%a, %b %d, %Y %I:%M%P') %>
						  <% else %> 
						  	TBA
						  <% end %> </td>



					<td>

						<%= form_for user, url: panel_update_user_path(user) do |f| %>

							<% if user.is_admin? %>
								<i class = "fa fa-check-square"></i>
							<% else %>
								<i class = "fa fa-square"></i>
							<% end %>
							
							Admin

							<%= f.check_box :coordinator %>
							Coordinator 

							<%= f.check_box :midweek %>
							Midweek

							
							<%= f.check_box :rider %>
							Rider





					</td>
					
					<td> <%#= user.posts.count %> </td>
					<td> <%#= user.discourses.count %> </td>
					<td> <%= user.email %></td>
					<td> <%= user.public_email %></td>

	
					<td> <%= user.landline %> </td>
					<td> <%= user.mobile %> </td>

					<td> <%= user.address %> </td>
					<td> <%= user.postcode %> </td>

					<td> 

						<%= f.submit 'Approve', class: 'btn btn-success btn-xs fleft', method: :patch %>

					<% end %>

						<%= button_to 'Delete', delete_user_path(user), class: 'btn btn-danger btn-xs', method: :delete, confirm: 'Are you sure you want to delete ' + user.user_name + '? They currently have these roles: ' + user.list_roles %>



					</td>	
				</tr>	
			<tr>

		<% end %>

				
		
	</tbody>
</table>
</div>




<p>&nbsp;</p>

</div>
</div>