<div class="container">
<p>&nbsp;</p>

<div class="row">
<div class="col-md-12">


<h2>Edit Your Profile</h2>

				
				
<%= form_for(@user) do |f| %>


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
     
    </div>
  <% end %>

  <%= f.label 'User Name' %><br>
  <%= f.text_field :first_name, class: 'form-control' %><br>

  <%= f.label 'First Name' %><br>
  <%= f.text_field :first_name, class: 'form-control' %><br>

  <%= f.label 'Last Name' %><br>
  <%= f.text_field :last_name, class: 'form-control' %><br>

  <%= f.label 'Public Email' %><br>
  <%= f.email_field :public_email, class: 'form-control' %><br>

  <%= f.label 'Email' %><br>
  <%= f.email_field :email, class: 'form-control' %><br>

  <%= f.label 'Address' %><br>
  <%= f.text_field :address, class: 'form-control' %><br>

  <%= f.label 'Nearest Town' %><br>
  <%= f.text_field :nearest_town, class: 'form-control' %><br>

  <%= f.label 'Landline' %><br>
  <%= f.text_field :landline, class: 'form-control' %><br>

  <%= f.label 'Mobile' %><br>
  <%= f.text_field :mobile, class: 'form-control' %><br>


  <%= f.label 'Postcode' %><br>
  <%= f.text_field :postcode, class: 'form-control' %><br>

  <%= f.submit 'Update', class: 'btn btn-success' %><br>
  
<% end %>
				

<div class="col-md-12">
			


  <div class="clearfix"></div>
</div>
<div class="col-md-12">


  <% if !@user.is_only_potential? %>

    <!-- make a partial -->
    <%= render 'image_upload' %>
  <!-- partial end-->

  <% end %>  


<p>&nbsp;</p>
<p><a href="#"><i class="fa fa-long-arrow-left"></i> Back to Blood Bikes Wales</a></p>

&nbsp;&nbsp;
<p>&nbsp;</p>
		
</div>
</div>
</div>