<% page_title(@user.user_name) %>


<p id="notice"><%= notice %></p>

<h3>Your private details (no one can see this except for admins):</h3><br>

Email: <%= @user.email %> <br>

<h3>Your public details (everyone can see these):</h3><br>

User name: <%= @user.user_name %> <br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
