



<div class="row">
<div class="col-md-12">
		

	<h2> <%= @user.contextual_owner('Your') %> Profile </h2>


	
  <!-- make a partial -->
  <%= render 'image_upload' %>
  <!-- partial end-->


  <h3> Public Info: </h3>
  

  <p><strong>User Name:</strong>  <%= @user.decorate_user_name %></p>
  <p><strong>Public Email:</strong>  <%= @user.decorate_public_email %></p>
  <p><strong>Registration State:</strong>  <%= @user.decorate_state %></p>

<!--
  <p><strong>Number of Discussions:</strong>  <%#= @user.decorate_discussion_count %> </p>

  <p><strong>Number of Replies:</strong> <%#= @user.decorate_replies_count %>  </p>
--> 

	<div class = 'clearfix'></div>
	<%#= image_tag .file_name, class: 'mugshot', width: 200 %>

<%= @user.decorate_private_info %>


</div>
<div class="col-md-12">			
  <div class="clearfix"></div>
</div>
<div class="col-md-12">




<%#= form_for(@user, :html => { :multipart => true }) do |f| %>
   <div class="field">
     <%#= f.label :message %><br>
     <%#= f.text_field :message %>
   </div>

   <%#= f.fields_for :post_attachment do |p| %>
     <div class="field">
       <%#= p.label :avatar %><br>
       <%#= p.file_field :avatar %>
     </div>
   <%# end %>

   <div class="actions">
     <%#= f.submit %>
   </div>
<%# end %>



<p>&nbsp;</p>




  


<%= link_to user_path(@user) do %>
	<i class="fa fa-long-arrow-left"></i> Back to Blood Bikes Wales
<% end %>

		
</div>
</div>