



<div class="row">
<div class="col-md-12">
		

	<h2> <%= contextual_user(@user) %> Profile</h2>


	
  <!-- make a partial -->
  	<%= show_uploaded_image(@user.avatar, width: 200) %>

	<% if !@user.is_only_potential? %>
	 	<% if current_user == @user || current_user.is_admin? %> 
	  		<h4> Upload new profile image: </h4>
	    	
				<%= form_for(@user, :html => { :multipart => true }, url: user_avatar_create_path(@user), method: :post ) do |f| %>
				        <%= f.file_field :file_name %>
				        <br>
				        <%= f.submit 'Upload Image' %>
				        <br>
				        <p class="help-block">Please make sure your image is a jpeg and no bigger than 2MB</p>
			    <% end %>    

	    <% end %>
	<% end %>
  <!-- partial end-->

	<div class = 'clearfix'></div>
	<%#= image_tag .file_name, class: 'mugshot', width: 200 %>

	<h3> Public Info: </h3>
	
	<p><strong>User Name:</strong>  <%= @user.user_name %></p>
	<p><strong>Public Email:</strong>  <%= @user.public_email %></p>

	<p><strong>Number of Discussions:</strong>  <%= @user.discourses.count %></p>
	<p><strong>Number of Posts:</strong>  <%= @user.posts.count %></p>
	<p><strong> <%= 'Role'.pluralize(@user.roles.count) %>:</strong>  <%= @user.list_roles %> </p>

	<div class = 'clearfix'></div>
	<% if current_user == @user || current_user.is_admin? %> 

	<h3> Private Info: </h3> <h4> - Only <% if current_user == @user %>
											yourself and select admins
										 <% else %>
										 	<%= @user.user_name %> and other admins
										 <% end %> can view this information </h4>
	
	<p><strong>First Name:</strong> <%= @user.first_name%> </p>
	<p><strong>Last Name:</strong>  <%= @user.last_name %></p>
	<p><strong>Email:</strong> <%= @user.email %> </p>

	<p><strong>Address:</strong> <%= @user.address %> </p>
	<p><strong>Landline:</strong> <%= @user.landline %> </p>
	<p><strong>Mobile:</strong> <%= @user.mobile %> </p>

	<p><strong>Nearest Town:</strong>  <%= @user.nearest_town %></p>

	<p>&nbsp;</p>

		
		<% if @user === current_user %>
			<%= button_to 'Edit Your Details', edit_user_path, class: 'btn btn-success', method: :get %>
		<% elsif %>
			<%= button_to 'Edit ' + @user.user_name + '\'s Details', edit_user_path, class: 'btn btn-success', method: :get %>		
		<% end %>

	<% end %>


</div>
<div class="col-md-12">			
  <div class="clearfix"></div>
</div>
<div class="col-md-12">




<%#= form_for(@user, :html => { :multipart => true }) do |f| %>
   <div class="field">
     <%#= f.label :message %><br>
     <%#= f.text_field :message %>
   </div>

   <%#= f.fields_for :post_attachment do |p| %>
     <div class="field">
       <%#= p.label :avatar %><br>
       <%#= p.file_field :avatar %>
     </div>
   <%# end %>

   <div class="actions">
     <%#= f.submit %>
   </div>
<%# end %>



<p>&nbsp;</p>




  


<%= link_to root_path do %>
	<i class="fa fa-long-arrow-left"></i> Back to Blood Bikes Wales
<% end %>

		
</div>
</div>