<header class = 'row'>
	<div class = 'color-strip row'>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 white'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 red'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 black'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 white'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 red'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 black'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 white'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 red'></div>
		<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 black'></div>
	</div>

	<div class = 'row'>
		<div class = 'logo col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4'>
		</div>
	</div>

	<div class = 'row'>
		<div class="mobile-menu btn-group col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3">
			<button class="btn btn-default btn-lg dropdown-toggle col-sm-12 col-xs-12" type="button" data-toggle="dropdown">
			Large button <span class="caret"></span>
			</button>
			<ul class="dropdown-menu col-sm-12 col-xs-12">
				<li> Item One </li>
				<li> Item Two </li>
				<li> Item Three </li>
				<li> Item Four </li>
				<li> Item Five </li>
			</ul>
		</div>
	</div>

	<div class = 'row'>
		<div class = 'header-extras col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4'>
			<a class = 'btn btn-primary col-sm-5 col-xs-5 pull-left'> Make a Donation </a>
			<a class = 'btn btn-primary col-sm-5 col-xs-5 pull-right'> Make a Donation </a>
		</div>
	</div>

	<div class = 'social-networks col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5'>
		
	</div>

	<div class = 'indentify col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5'>
		
	</div>

</header>


<div class = 'row '>

	<!-- Place somewhere in the <body> of your page -->
	<div id="slider" class="flexslider hero">
	  <ul class="slides">
	    <li>
	      <%= image_tag 'one.jpg' %>
	      
	      <div class = 'slide-info container row col-xs-6'>
				<div class = 'color-strip row'>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>
					<div class = 'col-xs-1 col-sm-1 col-md-1 col-lg-1 green'></div>

				</div>

				info for one
	        </div>
	    </li>
	    <li>
	      <%= image_tag 'two.jpg'  %>
	      <div class = 'slide-info'>
	   		information for two   	
	      </div>
	    </li>
	    <li>
	      <%= image_tag 'three.jpg' %>
	      <div class = 'slide-info'>
	   		information for three  	
	      </div>
	    </li>
	    <li>
	      <%= image_tag 'four.jpg' %>
	      <div class = 'slide-info'>
	   		information for four	
	      </div>
	    </li>
	    <!-- items mirrored twice, total of 12 -->
	  </ul>
	</div>
</div>

<div class = 'row hidden-xs' >

	<div id="carousel" class="flexslider ">
	  <ul class="slides">
	    <li>
	      <%= image_tag 'one.jpg' %>
	    </li>
	    <li>
	      <%= image_tag 'two.jpg' %>
	    </li>
	    <li>
	      <%= image_tag 'three.jpg' %>
	    </li>
	    <li>
	      <%= image_tag 'four.jpg' %>
	    </li>
	    <!-- items mirrored twice, total of 12 -->
	  </ul>
	</div>

</div>


	<div class = 'hot-panel hot-panel-1 col-xs-10 col-xs-offset-1'>
		<a class = 'btn btn-primary'> Our Causes </a>		
		<a class = 'btn btn-primary'> View All </a>
		<a class = 'left-nav glyphicon glyphicon-chevron-left'></a>
		<a class = 'right-nav glyphicon glyphicon-chevron-right'></a>

	
	<div id="slider-2" class="flexslider">
	  <ul class="slides">
	    <li>
	      <%= image_tag 'one.jpg' %>
	      
	    	<div class = 'panel-info'>
				info for one
				<div class = 'hot-panel-info'>
					&#163; Some Donated

					<div class = 'clearfix'></div>
					<a class = 'btn btn-primary'> More Details </a>
					or 
					<a class = 'btn btn-primary'> Make a Donation </a>
				</div>
	        </div>
	    </li>
	    <li>
	      <%= image_tag 'two.jpg'  %>
	      <div class = 'panel-info'>
	   		information for two   	
	      </div>
	    </li>
	    <li>
	      <%= image_tag 'three.jpg' %>
	      <div class = 'panel-info'>
	   		information for three  	
	      </div>
	    </li>
	    <li>
	      <%= image_tag 'four.jpg' %>
	      <div class = 'panel-info'>
	   		information for four	
	      </div>
	    </li>
	    <!-- items mirrored twice, total of 12 -->
	  </ul>
	</div>

	</div>
