
	<!--
		<div class = 'row '>


			<div id="slider" class="flexslider hero">
			  	<ul class="slides">
				    <li>
				      <%= image_tag '9.jpg' %>
				      <div class = 'slide-info container row col-xs-6'>
							<div class = 'color-strip row'>
								<div class = 'col-xs-1 green'></div>
								<div class = 'col-xs-1 green'></div>
								<div class = 'col-xs-1 green'></div>
								<div class = 'col-xs-1 green'></div>
								<div class = 'col-xs-1 green'></div>
								<div class = 'col-xs-1 green'></div>
							</div>

							info for one
				        </div>
				    </li>
				    <li>
	   			      <%= image_tag '7.jpg' %>
				    </li>
				    <li>
	   			      <%= image_tag '2.jpg' %>
				    </li>			    		  	
				    <li>
	   			      <%= image_tag '1.jpg' %>
				    </li>	
				    <li>
				      <%= image_tag 'two.jpg'  %>
				      <div class = 'slide-info'>
				   		information for two   	
				      </div>
				    </li>
				    <li>
				      <%= image_tag 'three.jpg' %>
				      <div class = 'slide-info'>
				   		information for three  	
				      </div>
				    </li>
				    <li>
				      <%= image_tag 'four.jpg' %>
				      <div class = 'slide-info'>
				   		information for four	
				      </div>
				    </li> 
			  	</ul> 
			</div>
		</div>
-->

	


		<div class = 'row hidden-xs hidden-sm hidden-md hidden-lg' >
			<div id="carousel" class="flexslider ">
			  <ul class="slides">
			    <li>
			      <%= image_tag '1.jpg' %>
			    </li>
			    <li>
			      <%= image_tag '2.jpg' %>
			    </li>
			    <li>
			      <%= image_tag '7.jpg' %>
			    </li>
			    <li>
			      <%= image_tag '6.jpg' %>
			    </li>
			    <!-- items mirrored twice, total of 12 -->
			  </ul>
			</div>
		</div>

<!-- Place somewhere in the <body> of your page -->


			<!-- cause hot panel -->
			<div class = 'hot-panel hot-panel-1 col-xs-12'>
					
					<div class = 'top-buttons'>
						<div class = 'links pull-left'>
							<a href = '/donate' class = 'btn btn-danger btn-xs'> Our Causes </a>
					<!--		<a href = '/news' class = 'btn btn-success btn-xs'> View All </a> -->
						</div>

						<div class = 'controls pull-right'>
							<a class = 'left-nav nav-button fa fa-angle-left' id = 'slider-2-left'></a>
							<a class = 'right-nav nav-button fa fa-angle-right' id = 'slider-2-right' ></a>					
						</div>
					</div>

					<div class = 'clearfix'></div>
				<div id = 'slider-2-container'>
					<div id="slider-2" class="sliderTypeA flexslider">
						  	<ul class="slides">

						  		<% @causes.each do |cause| %>
						  			<li>
										<div class="cropper-container">
	   										<div class="image-container" style='background-image: url(<%= image_path(cause.image_path) %>)'></div>
										</div>	
									      
									    	<div class = 'panel-info'>
												<div class = 'hot-panel-info'>
													<h3> <%= truncate(cause.title, length: 10) %> </h3>
													<p> <%= truncate(cause.content, length: 27, seperator: ' ', omission: '' ) %> </p>
												</div>

												<div class = 'donation-info'>
													<div class = 'statistic-integers'>
														<span class = 'align-left'> <span class = 'yellow'> &#163;<%= cause.amount_requested %> </span> Donated </span>
															<% percentage = number_to_percentage((cause.amount_donated.to_f / cause.amount_requested.to_f) * 100) %>


														<span class = 'pull-right'> <span class = 'yellow'> 												<%= percentage %></span> Funded </span>
													</div>

													<div class = 'progress'>
														<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>">
							   								<span class="sr-only"><%= percentage %> Complete (warning)</span>
						 							</div>
												</div>

												<div class = 'actions'>
													<%#= link_to 'More Details', cause, class: 'btn btn-danger btn-xs' %> <!--
													<span>or</span> -->
													 <a href = '/donate' class = 'btn btn-success btn-xs'> Make a Donation </a>
												</div>
											</div>
							      		</div>
					    			</li>
						  		<% end %>

			  				</ul>
						</div>
					</div>
				</div>
			<!-- cause hot panel end -->




<!-- events hot panel -->
			<div class = 'hot-panel hot-panel-1 col-xs-12'>
					
					<div class = 'top-buttons'>
						<div class = 'links pull-left'>
							<a href = '/events' class = 'btn btn-danger btn-xs'> Upcoming Events </a>
							<a href = '/events' class = 'btn btn-success btn-xs'> View All </a>
						</div>

						<div class = 'controls pull-right'>
							<a class = 'left-nav nav-button fa fa-angle-left' id = 'slider-3-left'></a>
							<a class = 'right-nav nav-button fa fa-angle-right' id = 'slider-3-right' ></a>					
						</div>
					</div>

					<div class = 'clearfix'></div>

				<div id = 'slider-3-container'>
					<div id="slider-3" class="sliderTypeA flexslider">
						  	<ul class="slides">
						  		<% @events.each do |event| %>
							  		<li>
										<div class="cropper-container">
	   										<div class="image-container" style='background-image: url(<%= image_path(event.image_path) %>)'></div>
										</div>
									      
									  	 <div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<a class = 'date'> <span class = 'fa fa-calendar-o'></span>  <%= event.startdate.strftime('%b %m %Y') %> </a>
												<h3> <%= truncate(event.title, length: 40) %> </h3>
												<p> <%= truncate(event.content, length: 80) %> </p>
											</div>

											<div class = 'donation-info'>
										

												
												<div class = 'actions'>
													<%= link_to 'More Details', event, class: 'btn btn-danger btn-xs'%>
													 <span>or</span> <a href = 'https://www.facebook.com/bloodbikeswales' class = 'btn btn-info btn-xs'> Visit Facebook Page </a>
												</div>
											</div>
						      			</div>
						    		</li>
						  		<% end %>

							    
			  				</ul>
						</div>
					</div>
				</div>
			<!-- cause hot panel end -->

			<!-- sponsors hot panel -->
			<div class = 'hot-panel hot-panel-1 col-xs-12'>
					
					<div class = 'top-buttons'>
						<div class = 'links pull-left'>
							<a href = '/donate' class = 'btn btn-danger btn-xs'> Our Sponsors </a>
<!--							<a href = '#' class = 'btn btn-success btn-xs'> View All </a> -->
						</div>

						<div class = 'controls pull-right'>
							<a class = 'left-nav nav-button fa fa-angle-left' id = 'slider-4-left'></a>
							<a class = 'right-nav nav-button fa fa-angle-right' id = 'slider-4-right' ></a>					
						</div>
					</div>

					<div class = 'clearfix'></div>

				<div id = 'slider-4-container'>
					<div id="slider-4" class="sliderTypeA flexslider">
						  	<ul class="slides">
							    <li>
										<div class="sponsor-inner" >

											<div class="sponsor-thumb">
												<a href="http://www.thunderroad.co.uk/" target="_blank">

													<%= image_tag 'thun.png' %>
													<!--
												<img width="149" height="39" src="http://ddthemesdemo.com/biosphere/wp-content/uploads/sites/2/2013/09/s-3.png" class="attachment-full wp-post-image" alt="s-3"> --></a>
																							</div><!-- .sponsor-thumb -->

										</div>
								    
					    		</li>
								 <li>
										<div class="sponsor-inner" >
											<div class="sponsor-thumb">
												<a href="http://www.poundstretcher.co.uk/" target="_blank">
													<%= image_tag 'pound.png' %>


												</a>
											</div><!-- .sponsor-thumb -->
										</div>
								    
					    		</li>
								<li>
										<div class="sponsor-inner" >

											<div class="sponsor-thumb">
												<a href="http://www.santander.co.uk" target="_blank">

												<%= image_tag 'sant.png' %>
											
												</a>
										</div>
								    
					    		</li>
 								<li>
										<div class="sponsor-inner" >

											<div class="sponsor-thumb">
												<a href="http://www.thunderroad.co.uk/" target="_blank">

													<%= image_tag 'thun.png' %>
													<!--
												<img width="149" height="39" src="http://ddthemesdemo.com/biosphere/wp-content/uploads/sites/2/2013/09/s-3.png" class="attachment-full wp-post-image" alt="s-3"> --></a>
																							</div><!-- .sponsor-thumb -->

										</div>
								    
					    		</li>
								 <li>
										<div class="sponsor-inner" >
											<div class="sponsor-thumb">
												<a href="http://www.poundstretcher.co.uk/" target="_blank">
													<%= image_tag 'pound.png' %>


												</a>
											</div><!-- .sponsor-thumb -->
										</div>
								    
					    		</li>
								<li>
										<div class="sponsor-inner" >

											<div class="sponsor-thumb">
												<a href="http://www.santander.co.uk" target="_blank">

												<%= image_tag 'sant.png' %>
												
												</a>											

										</div>
								    
					    		</li>
			  				</ul>
						</div>
					</div>
				</div>
			<!-- sponsors hot panel end -->



			
	</div>

