<% find_fields(:home) %>		


<div class="row">
<div class="col-md-12">

<% renderer = Redcarpet::Render::HTML.new(render_options = {}) %>
<% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
 
<%= markdown " **Getting Started**  and all that  ```` function(){ console.log('hello') } ```` [I'm an inline-style link](https://www.google.com)" %>



				<h2> <%= dynamic_content(:headerone) %></h2>


				<%= dynamic_content(:chairmanmessage) %>
				

</div>


</div>




<div class="row">
	<div class="col-md-8">

		<div class="flexslider"> 
			<div class="titlebox">
				<h2>Latest News <span class="right"><small><%= link_to 'See all Stories', stories_path %></small></span> </h2>
				</div>
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				

				<ul class="slides">
					<%=	render partial: 'story', collection: @stories %>
				</ul>
				
	
			</div>


			<div class="well2">


			

				<h2><span class="left">January 2014</span> <span class="right">
							<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
							<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
							</span></h2>
							<table class="table table-bordered"></h2>
	<tr class="active">
		<th scope="col">M</th>
		<th scope="col">T</th>
		<th scope="col">W</th>
		<th scope="col">T</th>
		<th scope="col">F</th>
		<th scope="col">S</th>
		<th scope="col">S</th>
	</tr>
	<tr>
		<td class="date-light">28</td> <!-- these dates not in month so light -->
		<td class="date-light">29</td>
		<td class="date-light">30</td>
		<td class="date-active">1</td> <!-- this date active -->
		<td>2</td>
		<td>3</td>
		<td>4</td>
	</tr>
	
	<tr>
		<td>5</td>
		<td>6</td>
		<td class="date-event"  data-toggle="modal" data-target="#myModal"><a href='#'>7<br>
			<i class="fa fa-thumb-tack"></i></a></td> <!-- An event icon. There is an event this day -->
		<td>8</td>
		<td>9</td>
		<td>10</td>
		<td>11</td>
	</tr>
	<tr>
		<td>12</td>
		<td>13</td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>
		<td>18</td>
	</tr>
	<tr>
		<td>19</td>
		<td>20</td>
		<td>21</td>
		<td>22</td>
		<td>23</td>
		<td>24</td>
		<td>25</td>
	</tr>
	<tr>
		<td>26</td>
		<td>27</td>
		<td>28</td>
		<td>29</td>
		<td>30</td>
		<td class="date-light">1</td> <!-- these dates not in month so light -->
		<td class="date-light">2</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


        <h4 class="modal-title" id="myModalLabel"> Jan 14 2014 </h4> <!-- date -->
      </div>
      <div class="modal-body">

        <!-- loop start -->
        <h4 class="modal-title" id="myModalLabel">Name of Event</h4> <!-- heading -->
        <p>Mid area meeting is Tuesday 18th March at 7.00pm, being held at Pontyclun Rugby Club, Pontyclun CF729DQ.</p> <!-- body -->
        <!-- loop end -->

        <!-- loop start -->
        <h4 class="modal-title" id="myModalLabel">Name of Event</h4> <!-- heading -->
        <p>Mid area meeting is Tuesday 18th March at 7.00pm, being held at Pontyclun Rugby Club, Pontyclun CF729DQ.</p> <!-- body -->
        <!-- loop end -->
      </div>
 

      <div class="modal-footer">
        <div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcbdc1533c411d4"></script>
      </div>
    </div>
  </div>
</div>


			</div>

<p>&nbsp;</p>


		<div class="flex-slider" style=" background-image: url(<%= asset_path 'cause.jpg' %>) ">
			<div class="titlebox">
				<h2><span class="left">Donations</span> 
<!--
				<span class="right">
					<leftarrow><i class="fa fa-chevron-left"></i></leftarrow>
					<rightarrow><i class="fa fa-chevron-right"></i></rightarrow>
				</span>
-->
				</h2>
				</div>
				<div class="ghostedbox">
					<h4>  Poundstretcher donates £23,750 to Blood Bikes Wales	</h4>
					<p> It is with great pleasure, and not a little surprise, that we announce a donation to Blood Bikes Wales from Poundstretcher Limited. </p>

					<%= link_to 'Read more', splash_fundraising_path %>
				</div>
	
			</div>




					<div class="row">
					<!--
							<div class="col-md-6">
									<div class="calendar">
											<p>CALENDAR
													COMING SOON</p>
									</div>
							</div>
							<div class="col-md-6">
									<div class="events">
											<p>EVENTS
													COMING SOON</p>
									</div>
							</div>
					-->
					</div>
				
			</div>
			<div class="col-md-4">
					<div class="fb-like-box" data-href="https://www.facebook.com/bloodbikeswales" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"> </div>
					<a class="twitter-timeline"  href="https://twitter.com/BloodBikesWales"  data-widget-id="449299926703304704">Tweets by @BloodBikesWales</a> 
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
			</div>
	</div>