
			<!-- cause hot panel -->
			<div class = 'hot-panel hot-panel-1 col-xs-12'>
					<!--
					<div class = 'top-buttons'>
						<div class = 'links pull-left'>
							<a href = '#' class = 'btn btn-danger btn-xs'> Our Causes </a>
							<a href = '#' class = 'btn btn-success btn-xs'> View All </a>
						</div>

						<div class = 'controls pull-right'>
							<a class = 'left-nav nav-button fa fa-angle-left' id = 'slider-2-left'></a>
							<a class = 'right-nav nav-button fa fa-angle-right' id = 'slider-2-right' ></a>					
						</div>
					</div>
-->
					<div class = 'clearfix'></div>
				<div id = 'slider-2-container'>
					<div id="slider-2" class="sliderTypeA flexslider">
						  	<ul class="slides">
							    <li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('1.jpg') %>)'></div>
									</div>	
								      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> 1 This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>
								<li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('2.jpg') %>)'></div>
									</div>	
								      						      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>

	 							<li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('3.jpg') %>)'></div>
									</div>	
								      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>

							    <li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('4.jpg') %>)'></div>
									</div>	
								      						      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>

												<h3> This is will get us a new bike! </h3>

												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
								
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>
			  				</ul>
						</div>
					</div>
				</div>
			<!-- cause hot panel end -->


			<!-- cause hot panel -->
			<div class = 'hot-panel hot-panel-1 col-xs-12'>
					<!--
					<div class = 'top-buttons'>
						<div class = 'links pull-left'>
							<a href = '#' class = 'btn btn-danger btn-xs'> Our Causes </a>
							<a href = '#' class = 'btn btn-success btn-xs'> View All </a>
						</div>

						<div class = 'controls pull-right'>
							<a class = 'left-nav nav-button fa fa-angle-left' id = 'slider-2-left'></a>
							<a class = 'right-nav nav-button fa fa-angle-right' id = 'slider-2-right' ></a>					
						</div>
					</div>
-->
					<div class = 'clearfix'></div>
				<div id = 'slider-3-container'>
					<div id="slider-3" class="sliderTypeA flexslider">
						  	<ul class="slides">
							    <li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('1.jpg') %>)'></div>
									</div>	
								      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> 1 This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>
								<li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('2.jpg') %>)'></div>
									</div>	
								      						      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>

	 							<li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('3.jpg') %>)'></div>
									</div>	
								      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>
												<h3> This is will get us a new bike! </h3>
												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>

							    <li>
									<div class="cropper-container">
   										<div class="image-container" style='background-image: url(<%= image_path('4.jpg') %>)'></div>
									</div>	
								      						      
								    	<div class = 'panel-info'>
											<div class = 'hot-panel-info'>

												<h3> This is will get us a new bike! </h3>

												<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet... </p>
								
											</div>

											<div class = 'donation-info'>
												<div class = 'statistic-integers'>
													<span class = 'align-left'> <span class = 'yellow'> &#163;500 </span> Donated </span>
													<span class = 'pull-right'> <span class = 'yellow'> 67&#37; </span> Funded </span>
												</div>

												<div class = 'progress'>
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
						   								<span class="sr-only">60% Complete (warning)</span>
					 							</div>
											</div>

											<div class = 'actions'>
												<a href = '#' class = 'btn btn-danger btn-xs'> More Details </a> <span>or</span> <a href = '#' class = 'btn btn-success btn-xs'> Make a Donation </a>
											</div>
										</div>
						      		</div>
					    		</li>
			  				</ul>
						</div>
					</div>
				</div>
			<!-- cause hot panel end -->