<%= form_for( @story, html: { multipart: true } ) do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this discourse from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">



    <%= f.text_field :title, placeholder: 'Create your story\'s title here' , class: 'form-control' %><br>
    <%= f.text_area :description, placeholder: 'Write your story here! Make sure it\'s no longer than 400 characters!', class: 'form-control', rows: 5 %><br>

          <h4> Upload new story pic: </h4>
          
    <%= f.file_field :file_name %>
          <%#= form_for( url: story_image_create_path(@story), method: :post ) do |f| %>
                  <%#= f.file_field :file_name %>
                  <%#= f.submit 'Upload Image' %>
            <!--      <p class="help-block">Please make sure your image is a jpeg and no bigger than 2MB</p>   -->
          <%# end %>    


  


  </div>

  <div class="actions">
    <%= f.submit 'Submit Story', class: 'form-control btn btn-success' %>
  </div>
<% end %>


  <%#= form_for [@forum, @discussion] do |f| %>

    <%#= f.text_field :name, class: 'form-control', placeholder: 'Create a new title here...' %><br>
    <%#= f.text_area :description, class: 'form-control', placeholder: 'Expand on your title here...', rows: 5 %><br>
    
    <%#= f.submit 'Create Discussion', class: 'form-control btn btn-primary' %>

  <%# end %>