















<div class="fullwidthcontainer">
		<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h1> <%= @story.title %> </h1>
						<P><strong> <%= @story.user.user_name %> </strong> <%= @story.user.list_roles %> &#8226; <%= @story.created_at.strftime(' %d/%m/%Y') %></p>

						<%= show_uploaded_image @story.photo, width: 800, height: 504, class: 'img-responsive newsimage', for: :story %>
						
						<%= @story.description %>
						<%#= image_tag @story.photo.file_name, class: 'img-responsive newsimage' %>
					</div>
<p>&nbsp;</p>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dcbdc1533c411d4"></script>
<!-- AddThis Button END -->

<%= link_to 'Back to all news', stories_path %> 

</div>
</div>
</div>


<p>&nbsp;</p>
</div>
<div class="row"></div>

</div>


