<div class = 'post'>
  
    <div class="commentbox">

        <%= link_to reply.user do %>
          <%= show_uploaded_image(reply.user.avatar, class: 'mugshot',  width: 37, height: 45, width: 50, height: 50 ) %>

        <% end %>
      
	        <h4> <%= reply.title %> <i> </i> </h4> 
	         
          <p> <%= link_to reply.user.user_name, reply.user %> <%= @discourse.user.list_roles %> </p>
	        <p> <%= reply.body %> </p>
	        
    
        <p><i class="fa fa-comment"></i> <%= time_ago_in_words(reply.created_at) %> ago </p>
         <p>&nbsp;</p>


        <%#= form_for( @reply, url: "create_retort/#{@forum.id}/#{@discourse.id}/#{}" ) do |f| %>
          
          <%#= f.text_field :title, placeholder: 'Enter the title for your reply here', class: 'form-control'%> 
       
          <%#= f.text_field :body, placeholder: 'Enter the body for your reply here', class: 'form-control'%> 
          
          <%#= f.submit "Reply to #{reply.user.user_name}\'s Reply", class: 'btn btn-success' %> 
           
        <%#S end %>

    </div>



  <p><%#= render partial: 'reply', collection: reply.retorts %></p>

</div>