<div class = 'post'>
  
    <div class="commentbox">


        <%= image_tag reply.user.avatar.file_name, class: 'mugshot', width: 37, height: 45 %>

      
	        <h4> <%= reply.title %> <i>- in reply to <%#= reply.reply if reply.reply %> <%#= reply.retort if reply.retort %> </i> </h4> 
	        <p> <%= reply.user.user_name %> <%= @discourse.user.list_roles %> </p>
	        <p> <%= reply.body %> </p>
	        
    
        <p><i class="fa fa-comment"></i> <%= time_ago_in_words(reply.created_at) %> ago </p>
         <p>&nbsp;</p>

        <%= form_for( @reply, url: "/forums/" + @forum.id.to_s + "/discourses/" + @discourse.id.to_s + "/replies" ) do |f| %>
          
          <%= f.text_field :title, placeholder: 'Enter the title for your reply here', class: 'form-control'%> <br>
       
          <%= f.text_field :body, placeholder: 'Enter the body for your reply here', class: 'form-control'%> <br>
          
          <%= f.submit 'Reply to this Reply', class: 'btn btn-success' %> <br>
            <br>

        <% end %>

    </div>



  <p><%= render partial: 'reply', collection: reply.retorts %></p>

</div>