<p id="notice"><%= notice %></p>

<div class="fullwidthcontainer">
  

  <div class="container">

<div class="row">
<div class="col-md-12">
    

        <h2>Rider Forum</h2>
              <p>&nbsp;</p>

        <%= link_to @discourse.user do %>
          <%= show_uploaded_image @discourse.user.avatar, class: 'mugshot', width: 50, height: 50 %>
        <% end %>
        
      
        <h4> <%= @discourse.title %> </h4>
        <p> <%= @discourse.user.user_name %> <%= @discourse.user.list_roles %> </p>
        <p> <%= @discourse.body %> </p>
        
        
        <p><i class="fa fa-comment"></i> <%= time_ago_in_words(@discourse.created_at) %> ago </p>
        <p>&nbsp;</p>

        <%= form_for( @reply, url: "/forums/" + @forum.id.to_s + "/discourses/" + @discourse.id.to_s + "/replies" ) do |f| %>
          




          <%= f.text_field :title, placeholder: 'Enter the title for your reply here', class: 'form-control'%> <br>
       
          <%= f.text_area :body, placeholder: 'Enter the body for your reply here', class: 'form-control', rows: 5 %> <br>
          
          <%= f.submit "Reply to this #{@discourse.user.user_name}\'s Discussion", class: 'btn btn-success' %> <br>
            <br>
        <% end %>

    
</div>
</div>
</div>
<div class="postdivider">
<div class="container"><h4> <%= pluralize @discourse.replies.count, 'reply' %> </h4></div>

</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<p>&nbsp;</p>


  <% if @discourse.replies %>
    <%= render partial: "reply", collection: @discourse.replies %>
  <% end %>






</div>
</div>
</div>
<p>&nbsp;</p>
</div>
