<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<!--
<head>
  <title> <%= content_for :title %> </title>


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

  <link href="http://fnt.webink.com/wfs/webink.css/?project=6CB7F258-3810-408B-B9F9-A7BCB654052F&fonts=58168F15-93FA-4FB1-0A4B-1863F48BE5F4:f=ACaslonPro-Regular,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,F5870F1F-48F5-36F5-550E-B276AA09225A:f=ProximaNova-RegularIt,7B92D2AD-0E4C-489A-A4F2-409DF1B0640B:f=BickhamScriptPro-Regular,9B12E3DB-5727-6832-E731-4CEBE577DE51:f=TrajanPro-Regular" rel="stylesheet" type="text/css"/>


-->
<!--[if lte IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!--
</head>
-->

<head>
    <title> <%= content_for :title %> </title>
    
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    
    <meta name="globalsign-domain-verification" content="1lU8ps94XvPO6ZvIIhwyBRGD9SbruF7KtDdBZAE4Ks" />

    <link href=
    "http://fnt.webink.com/wfs/webink.css/?project=FA61E485-DDEF-449C-9AF0-309FF0ED3370&amp;fonts=58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,C88A28DF-0112-63D9-25D2-A4EA08DAF75B:f=ProximaNova-Light,D8F30418-0E92-EBB4-6408-D220574EF53E:f=ProximaNova-Extrabld,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold"
    rel="stylesheet" type="text/css">
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %><%= javascript_include_tag "application", "data-turbolinks-track" => true %><%= csrf_meta_tags %>
        
  <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable= no'>

</head>

<body>

        <div id='viewport'></div>

        <div id="fb-root"></div><script>
(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script> 



        <% if signed_in? %>

      




            <div class="navbar navbar-inverse navbar-fixed-top">

          <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button">

                    <span class="sr-only">Toggle navigation</span>
                    
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>        
                
                </button> 

                <%= link_to user_path(current_user), class: 'navbar-brand' do %>
                    <%= show_uploaded_image(current_user.avatar, width: 50, height: 50, class: '') %>
                    Hi, <%= current_user.user_name %>!
                <% end %>


            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="indexloggedin.php"><span class=
                    "visible-xs">Home</span></a></li>
<!--
                    <li><a href="/users/<%#= current_user.id %>">Your Details</a></li> -->

                    <li><a href="/forums">Forums</a></li>

                    <li><a href="/members_contact_list">Members Contact</a></li>

                    <% unless current_user.is_only_potential?  %>
                    <li> <%= link_to 'Submit Story', new_story_path %></li>
                    <% end %>

                    <% if current_user.is_admin? %>
                    <li> <%= link_to 'Control Panel', panel_show_users_path %></li>
                    <% end %>

                    <li class = 'visible-xs'>
                        <%= link_to 'About Us', splash_about_path %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'News', splash_news_path %>
                    </li>
<%
=begin %>
                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Events</a>
                    </li>

                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Sponsors</a>
                    </li>


                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Contact us</a>
                    </li>

<% 
=end %>         
                    <li class = 'visible-xs'>
                        <%= link_to 'Links', splash_links_path %>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <%= link_to sign_out_path, method: :delete do %> Sign Out
                    <% end %></li>
                </ul>
            </div>
        </div>

</div>
    <% end %>
  
    <!-- home, donate, news, events, who we are, calendar, forum contact -->

    <div id="headerband"  <% if signed_in? %> style= 'margin-top: 50px' <% end %> >
        <div class="container">
            <div id="logodiv">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 col-md-2">
                        <%= link_to root_url do %><%= image_tag "Blood-Bikes-Wales-logo.png", alt: "blood bikes wales logo" %>
                    </div><% end %>

                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <h1>BLOOD BIKES WALES<br>
                        BEICIAU GWAED CYMRU</h1>

                        <h2>RIDING TO SAVE LIVES</h2>
                    </div>


                    <% if !signed_in? %>

                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    
                                    <%= button_to 'Join Today', sign_up_path, class: 'btn btn-success' , method: :get %>

                                </div>

                                <div class="btn-group">

                                      <%= button_to 'Members Log In', sign_in_path, class: 'btn btn-warning' , method: :get %>

                                </div>




                            </div>
                        </div>
                    <% end %>

                    <%= button_to 'Donate Now!', 'https://mydonate.bt.com/charities/bloodbikeswales', class: 'btn btn-info' , method: :get %>

                </div>


            </div>

            <% flash.each do |key, value| %>

                <div class='alert alert-success no-rounded-corners'>
                    <%= value %>
                </div>

            <% end %>



<div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button">

                    <span class="sr-only">Toggle navigation</span>
                    
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>        
                
                </button> 

                </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <%= link_to 'HOME', root_path %> </li>
                <li> <%= link_to 'ABOUT US', splash_about_path %> </li>
                <li> <%= link_to 'NEWS', splash_news_path %> </li>
<!--
                    <li> <%#= link_to 'EVENTS', splash_events_path %></li>

                    <li> <%#= link_to 'SPONSORS', splash_sponsors_path %></li>

                    <li> <%#= link_to 'CONTACT', splash_contact_path %></li>
-->
                <li> <%= link_to 'LINKS', splash_links_path %></li>
               
               
                
            </ul>
            
        </div>
</div>











<!--            <div class="mainnav">
                <ul class="list-inline hidden-xs navlist">
                    <li> <%= link_to 'HOME', root_path %> </li>

                    <li> <%= link_to 'ABOUT US', splash_about_path %> </a></li>

                    <li> <%= link_to 'NEWS', splash_news_path %> </a></li>


                    <li> <%#= link_to 'EVENTS', splash_events_path %></li>

                    <li> <%#= link_to 'SPONSORS', splash_sponsors_path %></li>

                    <li> <%#= link_to 'CONTACT', splash_contact_path %></li>

                    <li> <%= link_to 'LINKS', splash_links_path %></li>

                </ul>
            </div>-->

        </div>

        <div class="clearfix"></div>

                



            <div class="row">

                    <div class = 'center-block social-box' style="width: 200px">            
                        <a class="fb show-xs" href="https://www.facebook.com/bloodbikeswales"></a>&nbsp;
                        <a class="tw show-xs" href="https://twitter.com/bloodbikeswales"></a>                       
                    </div>
            </div>        


    </div><!--end container-->
 

    <div class="fullwidthcontainer">

        <div class="container">
            <%= yield %>
        </div>

        <div id="footer">
            <div class="container">
                <p>Our Sponsors</p>

                <div class="row">
    
                    <div class = 'col-md-3'>
                        <%= link_to 'http://www.poundstretcher.co.uk/' do %><%= image_tag 'psgrey.jpg', width: 136, height: 67, alt: 'pound stretcher logo' %><% end %>        
                    </div>

                    <div class = 'col-md-3'>
                       <%= link_to 'http://www.santander.co.uk/' do %><%= image_tag 'sandtander_09.jpg', width: 218, height: 67, alt: 'pound stretcher logo' %><% end %>
                    </div>

                    <div class = 'col-md-3'>
                        <%= link_to 'http://www.thunderroad.co.uk/' do %><%= image_tag 'thunderroad_11.jpg', width: 212, height: 67, alt: 'pound stretcher logo' %><% end %>
                    </div>

                    <div class = 'col-md-3'>
                        <%= link_to 'http://www.mountmotorcycles.co.uk/' do %><%= image_tag 'mounts_13.jpg', width: 173, height: 67, alt: 'pound stretcher logo' %><% end %>
                    </div>

                </div>

                <p>© 2014 Blood Bikes Wales. Registered with the UK Charity
                Commission, Charity Number 1143352.</p>

                <p>Design:
                    <%= link_to 'JHurleyDesign.com', "http://www.jhurleydesign.com/" %>
                </p>
            </div>
        </div>
    </div><!--end container-->


</body>
</html>