<!DOCTYPE html>
<html>
<head>
  <title> <%= content_for :title %> </title>

  <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable= no'>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

  <link href="http://fnt.webink.com/wfs/webink.css/?project=6CB7F258-3810-408B-B9F9-A7BCB654052F&fonts=58168F15-93FA-4FB1-0A4B-1863F48BE5F4:f=ACaslonPro-Regular,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,F5870F1F-48F5-36F5-550E-B276AA09225A:f=ProximaNova-RegularIt,7B92D2AD-0E4C-489A-A4F2-409DF1B0640B:f=BickhamScriptPro-Regular,9B12E3DB-5727-6832-E731-4CEBE577DE51:f=TrajanPro-Regular" rel="stylesheet" type="text/css"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">



 


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>






  <%= csrf_meta_tags %>

<!--[if lte IE 8]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>


<body>
<div id = 'viewport'></div>

    <%#= debug(params) if Rails.env.development? %>


    <nav class="navbar navbar-default loginbar no-border-radius" role="navigation">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle no-border-radius" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar no-border-radius"></span>
	        <span class="icon-bar no-border-radius"></span>
	        <span class="icon-bar no-border-radius"></span>
	      </button>

	     <div class = 'loginlinks'>
		      <a class="navbar-brand" href="#"> Hi Andy: </a>
			  <a class="navbar-brand" href="#"> <i class="fa fa-sign-out"></i> logout </a>
		</div>
		      
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">     
	        <li><a href="#">Link 2 </a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<div class = 'subbar col-xs-12'>

<div class = 'container'>
	
		<div class = 'col-xs-12 col-sm-9 aqua hero'>
			
			<div class = 'col-xs-3 green'>
				<%= image_tag 'logo2.png', class: 'img-responsive' %>	
			</div>
		
			<div class = 'col-xs-9 orange'>
				<div class = 'col-xs-12'> Blood Bikes Wales </div>	
				<div class = 'col-xs-12'> The Same in Welsh </div>
				<div class = 'col-xs-12'> Riding to save Lives </div>
			</div>			
	.	
		</div>

		<div class = 'col-sm-3 red hidden-xs'>
			

			<button type = 'button' class = 'btn btn-success no-border-radius col-xs-12'> First buttton  </button>
			<button type = 'button' class = 'btn btn-warning no-border-radius col-xs-6'> Second buttton  </button>
			<button type = 'button' class = 'btn btn-danger no-border-radius col-xs-6'> Third buttton </button>

		</div>
		
		<div class = 'action'>
		

			<button type = 'button' class = 'btn btn-success no-border-radius col-xs-12'> First buttton  </button>
			<button type = 'button' class = 'btn btn-warning no-border-radius col-xs-12'> Second buttton  </button>
			<button type = 'button' class = 'btn btn-danger no-border-radius col-xs-12'> Third buttton </button>

		</div>

		<div class = 'col-xs-2 hidden-sm hidden-md hidden-lg pink center'>
			<div class = 'col-xs-6 red'>  . </div>
			<div class = 'col-xs-6 aqua'> . </div>
			<div class = 'clearfix'></div>		
		</div>

		<div class = 'sm-menu col-xs-8 hidden-xs'>
			<ul class = 'list-inline'>
				<li> Home </li>
				<li> Something Else </li>
				<li> Another </li>
				<li> Yet Another </li>
				<li> A penultimate </li>
				<li> The Final </li>
			</ul>
		</div>

		<div class = 'col-xs-4 hidden-xs pink'>
			<div class = 'col-xs-6 red'> . </div>
			<div class = 'col-xs-6 aqua'> . </div>
			<div class = 'clearfix'></div>		
		</div>
</div>

		<div class = 'clearfix'></div>


</div>


<!--

	<div class = 'col-xs-3 col-md-2 edge logo'>
		<div class = 'logo'>
			<%#= image_tag 'logo2.png', height: 140, width: 140 %>
		</div>
	</div>

	<div class = 'col-xs-9 col-md-6 green'>
		<div class = 'col-xs-12 title'> Blood Bikes Wales </div>
		<div class = 'col-xs-12 title'> Llanfa irpwllgw yngy </div>
	</div>

	<div class = 'col-md-2 aqua hidden-sm'>
		asd
	</div>

	
	
	<button type="button" class="btn btn-primary dropdown-toggle col-xs-12 no-border-radius" data-toggle="dropdown">Primary <span class="caret"></span></button>
	<button type="button" class="btn btn-primary dropdown-toggle col-xs-12 no-border-radius" data-toggle="dropdown">Primary <span class="caret"></span></button>
	<button type="button" class="btn btn-primary dropdown-toggle col-xs-12 no-border-radius">Primary <span class="caret"></span></button>

	<div class = 'social centered'>

		<button type="button" class="btn social btn-primary no-border-radius">
			<i class = 'fa fa-facebook'></i>
		</button>


		<button type="button" class="btn social btn-primary no-border-radius">
			<i class = 'fa fa-twitter'></i>
		</button>
		 
	</div>

</div>
-->

<div class = 'main container'>

	<%= yield %>

</div>

</div>
