<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<!--
<head>
  <title> <%= content_for :title %> </title>


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

  <link href="http://fnt.webink.com/wfs/webink.css/?project=6CB7F258-3810-408B-B9F9-A7BCB654052F&fonts=58168F15-93FA-4FB1-0A4B-1863F48BE5F4:f=ACaslonPro-Regular,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold,58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,F5870F1F-48F5-36F5-550E-B276AA09225A:f=ProximaNova-RegularIt,7B92D2AD-0E4C-489A-A4F2-409DF1B0640B:f=BickhamScriptPro-Regular,9B12E3DB-5727-6832-E731-4CEBE577DE51:f=TrajanPro-Regular" rel="stylesheet" type="text/css"/>


-->
<!--[if lte IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!--
</head>
**
-->

<head>
    <title> <%= content_for :title %> </title>
    
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    
    <meta name="globalsign-domain-verification" content="1lU8ps94XvPO6ZvIIhwyBRGD9SbruF7KtDdBZAE4Ks" />

    <link href=
    "http://fnt.webink.com/wfs/webink.css/?project=FA61E485-DDEF-449C-9AF0-309FF0ED3370&amp;fonts=58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,C88A28DF-0112-63D9-25D2-A4EA08DAF75B:f=ProximaNova-Light,D8F30418-0E92-EBB4-6408-D220574EF53E:f=ProximaNova-Extrabld,382B4521-6228-4C38-41BC-3DE66C7C910A:f=ProximaNova-Bold"
    rel="stylesheet" type="text/css">




        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

        <%= javascript_include_tag "application", "data-turbolinks-track" => true %><%= csrf_meta_tags %>
        
  <meta name = 'viewport' content = 'width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable= no'>

<!-- flexslider -->
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({"controlNav": false, "prevText":"", "nextText":""});
  });
</script>
<!-- flexslider carousel-->
<script type="text/javascript">
$(window).load(function() {
  $('.flexslider2').flexslider({
    animation: "slide",
    animationLoop: true,
    itemWidth: 210,
    itemMargin: 30,
    minItems: 0,
    maxItems: 222,
    slideshowSpeed: 4000,
    "controlNav": false,  "prevText":"", "nextText":""
  });
});
  </script>

</head>

<body>

        <div id='viewport'></div>

        <div id="fb-root"></div><script>
(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script> 



        <% if signed_in? %>

      




            <div class="navbar navbar-inverse navbar-fixed-top">

          <div class="container-scrollable">
            <div class="navbar-header">

        <!-- <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"> -->


        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#loggedin-nav">



                    <span class="sr-only">Toggle navigation</span>
                    
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>
                    <span class = 'icon-bar'></span>        
                
                </button> 

                <%= link_to user_path(current_user), class: 'navbar-brand' do %>
                    <%= show_uploaded_image(current_user.avatar, width: 75, height: 75, class: '') %>
                    Hi, <%= current_user.user_name %>!
                <% end %>


            </div>



               <!-- <div class="navbar-collapse collapse"> -->



                <div class="collapse navbar-collapse " id="loggedin-nav">


                            <ul class="nav navbar-nav">

                    <li class ='visible-xs'><%= link_to 'Home', root_path %></li>

                    <li><a href="/forums">Forums</a></li>

                    <li><a href="/members_contact_list">Members Contact</a></li>

                    <% unless current_user.is_only_potential?  %>
                    <li> <%= link_to 'Submit Story', new_story_path %></li>
                    <% end %>

                    <% if current_user.is_admin? %>
                    <li> <%= link_to 'Control Panel', panel_show_users_path %></li>
                    <% end %>

                    <li class = 'visible-xs'>
                        <%= link_to 'About Us', splash_about_path %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'News', splash_news_path %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'Fundraising', splash_fundraising_path %>
                    </li>
<%
=begin %>
                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Events</a>
                    </li>

                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Sponsors</a>
                    </li>


                    <li class = 'visible-xs'>
                        <a href="underconstruction.php">Contact us</a>
                    </li>

<% 
=end %>         
                    <li class = 'visible-xs'>
                        <%= link_to 'Links', splash_links_path %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'Facebook', 'https://www.facebook.com/bloodbikeswales' %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'Twitter', 'https://twitter.com/bloodbikeswales' %>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <%= link_to sign_out_path, method: :delete do %> Sign Out
                    <% end %></li>
                </ul>
            </div>
        </div>

</div>
    <% end %>
  
    <!-- home, donate, news, events, who we are, calendar, forum contact -->

    <div id="headerband"  <% if signed_in? %> style= 'margin-top: 50px' <% end %> >
        <div class="container">
            <div id="logodiv">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 col-md-2">
                        <%= link_to root_url do %><%= image_tag "Blood-Bikes-Wales-logo.png", alt: "blood bikes wales logo" %>
                    </div><% end %>

                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <h1>BLOOD BIKES WALES<br>
                        BEICIAU GWAED CYMRU</h1>

                        <h2>RIDING TO SAVE LIVES</h2>
                    </div>


                    <% if !signed_in? %>

                        <div class="col-xs-12 col-sm-4 col-md-3">
                                <div class="btn-block">
                                    
                                    <%= button_to 'Join Today', sign_up_path, class: 'btn btn-success btn-block' , method: :get %>

                                </div>

                                <div class="btn-block">

                                      <%= button_to 'Log In', sign_in_path, class: 'btn btn-danger btn-block' , method: :get %>

                                </div>

                                <div class="btn-block">


                                    <%= button_to 'Donate Now!', splash_fundraising_path, class: 'btn btn-warning btn-block' , method: :get %>
                                </div>

                        </div>
                   
 <% end %>
                    <% if signed_in? %>


<div class="col-xs-4 col-sm-4 col-md-3">
                                    <%= button_to 'Donate Now!', splash_fundraising_path, class: 'btn btn-warning left' , method: :get %>

</div>
 
                        <% end %>
                </div>


            </div>

            <% flash.each do |key, value| %>

                <div class='alert alert-success no-rounded-corners'>
                    <%= value %>
                </div>

            <% end %>



<div class="navbar navbar-default" role="navigation">
    
        <div class="navbar-header">
        
            <% if !signed_in? %>

                <button class="navbar-toggle" data-target=".navbar-collapse"
                        data-toggle="collapse" type="button">

                            <span class="sr-only">Toggle navigation</span>
                            
                            <span class = 'icon-bar'></span>
                            <span class = 'icon-bar'></span>
                            <span class = 'icon-bar'></span>        
                        
                </button>


            <% end %>

        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <%= link_to 'HOME', root_path %> </li>
                <li> <%= link_to 'ABOUT US', splash_about_path %> </li>
                <li> <%= link_to 'NEWS', splash_news_path %> </li>
<!--
                    <li> <%#= link_to 'EVENTS', splash_events_path %></li>

                    <li> <%#= link_to 'SPONSORS', splash_sponsors_path %></li>

                    <li> <%#= link_to 'CONTACT', splash_contact_path %></li>
-->

                <li> <%= link_to 'LINKS', splash_links_path %></li>
                <li> <%= link_to 'FUNDRAISING', splash_fundraising_path %></li>

            
                <li class = 'social hidden-xs'>
                    <a class="fb" href="https://www.facebook.com/bloodbikeswales"></a>
                    <a class="tw" href="https://twitter.com/bloodbikeswales"></a>
                </li>  

                <li class = 'visible-xs'>
                        <%= link_to 'FACEBOOK', 'https://www.facebook.com/bloodbikeswales' %>
                    </li>

                    <li class = 'visible-xs'>
                        <%= link_to 'TWITTER', 'https://twitter.com/bloodbikeswales' %>
                    </li>   
               
               
                
            </ul>
            
        </div>
</div>








        </div>

        <div class="clearfix"></div>

                





    </div><!--end container-->
 

    <div class="fullwidthcontainer">

        <div class="container">
            <%= yield %>
        </div>


        <div class="clearfix">
<p>&nbsp;</p>
        </div>

        <div id="footer">
            <div class="container">
                <h4>Our Sponsors</h4>
<hr>

<div class="flexslider2 carousel">
<ul class="slides" >
                <li>
                <%= link_to 'http://www.poundstretcher.co.uk/' do %><%= image_tag 'poundstretcher.jpg', width: 210,  alt: 'pound stretcher logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.santander.co.uk/' do %><%= image_tag 'santander.jpg', width: 210, alt: 'santander logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.thunderroad.co.uk/' do %><%= image_tag 'thunderroad.jpg', width: 210, alt: 'thunder road logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.mountmotorcycles.co.uk/' do %><%= image_tag 'mounts.jpg', width: 210, alt: 'mount motorcycles logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.ridersmotorcycles.com/' do %><%= image_tag 'riders.jpg', width: 210,  alt: 'riders logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.ladiescircle.co.uk/' do %><%= image_tag 'ladiescircle.jpg', width: 210, alt: 'ladies circle logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.gocompare.com/' do %><%= image_tag 'gocompare.jpg', width: 210, alt: 'go compare logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.websitesforrestaurants.co.uk/theeagle/Home/' do %><%= image_tag 'eagle.jpg', width: 210, alt: 'eagle logo' %><% end %>
                </li>                
               <li>
                <%= link_to 'http://www.asda.com/' do %><%= image_tag 'asda.jpg', width: 210,  alt: 'asda logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.abertawemotorcycleservicesltd.co.uk/' do %><%= image_tag 'abertawemotocycle.jpg', width: 210, alt: 'abertawe motocycles logo' %><% end %>
                </li>
               <li>
                <%= link_to 'http://www.aberdare-park-road-races.co.uk' do %><%= image_tag 'aberdarepark.jpg', width: 210, alt: 'aberdare park logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.mountmotorcycles.co.uk/' do %><%= image_tag 'wwms.jpg', width: 210, alt: 'wwms logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.thewi.org.uk/' do %><%= image_tag 'wi.jpg', width: 210, alt: 'wi logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://sigbi.org/' do %><%= image_tag 'soroptomists.jpg', width: 210, alt: 'soroptomists logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.securitas.com/uk/en-gb' do %><%= image_tag 'securitas.jpg', width: 210, alt: 'securitas logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.roundtable.co.uk' do %><%= image_tag 'roundtable.jpg', width: 210, alt: 'roundtable logo' %><% end %>
                </li>
                <li>
                <%= link_to 'www.mandp.co.uk' do %><%= image_tag 'mandp.jpg', width: 210, alt: 'M and P logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.sainsburys.co.uk' do %><%= image_tag 'sainsburys.jpg', width: 210, alt: 'sainsburys logo' %><% end %>
                </li>
                <li>
                <%= link_to 'http://www.ribi.org' do %><%= image_tag 'rotary.jpg', width: 210, alt: 'rotary logo' %><% end %>
                </li>






          </ul>

    
  </ul>
</div>









<hr>
                <p><span class = 'small'>© 2014 Blood Bikes Wales. Registered with the UK Charity
                Commission, Charity Number 1143352.</span></p>

                <p><p><span class = 'small'>Design:
                    <%= link_to 'JHurleyDesign.com', "http://www.jhurleydesign.com/" %></span>
                </p>
            </div>
        </div>
    </div><!--end container-->


</body>
</html>